h1
{
font-family: 'Times New Roman', Times, serif 'Arial Narrow Bold', sans-serif, 'Arial Narrow', Arial, sans-serif;
font-size: 20px;
color: rgba(146, 86, 105, 0.932);
}

body
{background-color: rgb(209, 193, 206);}

div.slider
{
 float: left;
 width:1260px;
 height: auto;
 background-color: rgb(114, 71, 71);
}

div.slider1
{
 float: left;
 width:1330px;
 height: auto;
 background-color: rgb(114, 71, 71);
}

div.slider2
{
 float: left;
 width:1330px;
 height: auto;
 background-color: rgb(114, 71, 71);
}

div.slider3
{
 float: left;
 width:1330px;
 height: auto;
 background-color: rgb(114, 71, 71);
}

ul 
{
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
}
  
li 
{
 float: right;
}
  
li a 
{
 display: block;
 padding: 8px;
 background-color: rgb(114,71,71);
}

li a:hover 
{
 background-color: rgb(173, 134, 134);
}

div 
{
 color: black;
 padding-right: 40px;
 padding-left: 30px;
 margin-top: 1.5%;
 margin-bottom: 1%;
}

img
{border: 3px solid rgb(114, 71, 71);}

video
{border: 3px solid rgb(114, 71, 71);}

ul
{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-weight: bold;
 font-size: small;
 color: black;
}

table

    {
        border-collapse: collapse;
        border-color: rgb(255, 247, 247);
        text-align: center;
    }

.center
    {
        margin-left: auto;
        margin-right: auto;
        margin-top: 2px;
        margin-bottom: -8px;
    }

tr,td,th
    {
        border:1px solid;
        padding: 10px;
    }

tr
    {
        background-color:rgb(224, 216, 218);
    }

    tr:nth-child(odd)
    {
        background-color: rgb(165, 155, 160);
    }

    tr:hover
    {
        background-color:rgb(112, 73, 101);
    }

    footer 
    {
        text-align: center;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        color: beige;
        padding: 1px;
        background-color: rgb(114, 71, 71);
        color: rgb(185, 167, 180);
    }

    h4
    {
        font-family: 'Times New Roman', Times, serif;
        color: black;
    }

.parent
    {
        display:flex;
        gap: 6px;
    }

audio
    {align-items: center;}